header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: red;
 font-size: 25px;
 padding: 3px;
 background-color: gray;
}
body {
  font-family: Candara,cursive;
  background-color: gray;
  font-size: 18px;
  padding: 3px;
}
h1 {
  padding: 3px;
  font-family: Candara;
  font-weight: bold;
  color: blue;
  font-size: 30px;
}
p {
  padding: 3px;
  font-family: Candara;
  font-weight: bold;
  color: blue;
  font-size: 18px;
}
footer{
  font-weight: bold;
  padding: inherit
}
#content {
    align: center;
    padding:3px;
    background-color: gray;
}
video {
 	/* add your style definitions here */
  border: 5px groove black;
  border-radius: 50px;
  padding: 1px;
  /* width: inherit;
  height: inherit; */
 	/* transitions applied to the video element */
 	-moz-transition: all 1s ease-in-out;
 	-webkit-transition: all 1s ease-in-out;
 	-o-transition: all 1s ease-in-out;
 	-ms-transition: all 1s ease-in-out;
 	transition: all 1s ease-in-out;
}
header.secondary{
padding-left: 75px;
}
audio {
 	/* add your style definitions here */
  border: 5px groove black;
  border-radius: 15px;
  padding: 1px;
 	/* transitions applied to the video element */
 	-moz-transition: all 1s ease-in-out;
 	-webkit-transition: all 1s ease-in-out;
 	-o-transition: all 1s ease-in-out;
 	-ms-transition: all 1s ease-in-out;
 	transition: all 1s ease-in-out;
}

button.back{
 /*These lines override the previous styling of buttons*/
-webkit-border-image: url("greyButton.png") 0 14 0 14 stretch;
width:60px;
height: 30px;

/*These lines position the back button inside the header*/
position:absolute;
left:16px;
top:8px; }
/* add your code to set top and bottom margins */

/*add an image to your button*/
border-image: url("orangeButton.png");
background: url("orangeButton.png");
background-size: cover;

/*set width and height for the button*/
}
div{
  background-color: gray
}

#WPI{
    /*center the image*/
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;}

    #main_nav ul {
    	list-style: none;
    	padding: 0;
    	margin: 10px;
    	font-weight: bold;
    }

#main_nav ul li {
	background-color: #fff;
	border: 1px solid #999;
	color: #222;
	display: block;
	margin-bottom: -1px;
	padding: 12px 10px;
}

#main_nav ul li a{
	text-decoration: none;
  }

/* add traditional rounded corners to the navigation menu*/

#main_nav li:first-child{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#main_nav li:last-child{
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
